<div class="d-flex">
  <main class="flex-grow-1 p-3">
    <h2 >Products Detail</h2>
    <ng-container *ngIf="product$ | async as product; else loadingTemplate">


      <div class="card mb-3 " style="max-width: 100%">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="product.imageUrl" class="card-img-top" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                {{ product.description }}
              </p>

              <a [routerLink]="['/products', product.id, 'edit']">Edit</a>

            </div>
            <div class="card-footer text-muted" *ngIf="currency$ | async as currency">{{ product.price | customCurrency: currency  }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </main>
  <aside class="flex-shrink-1">
    <app-related-products></app-related-products>
  </aside>
</div>

<ng-template #loadingTemplate>
  <p>Please wait while we get that</p>
</ng-template>

<ng-template #noRecordsTemplate>
  <p>We don't have any matches</p>
</ng-template>
