<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">XYZ Clothes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['/']" routerLinkActive="active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/products']" routerLinkActive="active">Products</a>
      </li>

    </ul>
    <div ngbDropdown class="d-inline-block" *ngIf="currency$ | async as currency" >
      <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{currency}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="rates$ | async as rates">
        <button ngbDropdownItem *ngFor="let item of rates" (click)="changeCurrency(item.base)">{{item.base}}</button>
      </div>
    </div>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

